body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  background: linear-gradient(90deg, #1a0332, #000000 50%, #1a0332);
  font-family: "Kanit", sans-serif;
}

@font-face {
  font-family: ELNATH;
  src: url(../fonts/ELNATH.ttf);
}
b {
  color: #8c00ff;
}

/*==========HEADER===========================================*/
.header-responsive {
  display: none;
}

.header-container {
  background: linear-gradient(90deg, #0d0119, #080510 50%, #0a0119);
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo-container figure {
  width: 100px;
  margin: 0;
}
.nav-logo-container figure img {
  width: 100%;
}

.nav-links-items {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav-links-items a {
  margin: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  padding: 7px;
  color: #fff;
  text-decoration: none;
  transition-duration: 0.5s;
  border-radius: 10px;
}
.nav-links-items a:hover {
  background: #8E2DE2;
  background: linear-gradient(to right, #4A00E0, #8E2DE2);
  border-radius: 20px;
}

.nav-nombre h2 {
  color: #8c00ff;
  margin: 10px;
  font-family: ELNATH;
  font-size: 19px;
}

/*========== INICIO =================================*/
.body-index-container {
  z-index: -1;
  display: grid;
  grid-template-areas: "presentacion foto";
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  margin: 40px;
  padding-bottom: 80px;
}

.presentacion-container {
  grid-area: presentacion;
}

.bienvenida h3 {
  margin: 0;
  font-family: ELNATH;
}

.titulo-quienSoy h1 {
  margin: 0;
  font-size: 40px;
  font-family: ELNATH;
}

.texto-quienSoy {
  text-align: justify;
  font-size: 17px;
}

.curriculum {
  margin-top: 40px;
}
.curriculum a {
  margin: 20px 20px 20px 0;
  text-decoration: none;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  transition-duration: 0.5s;
  border: solid rgba(163, 159, 167, 0.467) 1px;
  background: #8E2DE2;
  background: linear-gradient(to right, #4A00E0, #8E2DE2);
}
.curriculum a:hover {
  border-radius: 20px;
  animation-name: boton;
  border: solid rgba(255, 255, 255, 0.467) 1px;
}

.foto-container {
  margin: 20px;
  grid-area: foto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foto {
  text-align: center;
}
.foto figure {
  width: 400px;
}
.foto figure img {
  width: 100%;
}

.datosDeMi {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 13px;
}

.anosExperiencia, .ganasDeAprender, .proyectosCompletados {
  padding: 0 10px;
  text-align: center;
}

/*=================HABILIDADES===============================*/
.body-habilidades-container, .body-curriculum-container, .body-portafolio-container, .body-contacto-container {
  margin: 40px;
}

.titulo-habilidades h1, .titulo-curriculum h1, .titulo-portafolio h1, .titulo-contacto h1 {
  font-family: ELNATH;
  font-size: 40px;
  display: inline;
  border-bottom: solid #8c00ff;
}

.habilidades-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.habilidades-items {
  margin: 70px;
  padding: 28px;
  border-radius: 40px;
  background-color: rgb(16, 15, 15);
}
.habilidades-items figure {
  margin: 0;
  text-align: center;
}

#javascript figure, #github figure, #bootstrap figure {
  text-align: center;
  margin: 0;
}
#javascript figure img, #github figure img, #bootstrap figure img {
  width: 64px;
}

#html-item {
  box-shadow: 0 0 10px #FF5733;
  transition-duration: 0.5s;
}
#html-item:hover {
  box-shadow: 0 0 80px #FF5733;
  transform: scale(1.06);
}

#css-item {
  box-shadow: 0 0 10px #164DFA;
  transition-duration: 0.5s;
}
#css-item:hover {
  box-shadow: 0 0 80px #164DFA;
  transform: scale(1.06);
}

#javascript-item {
  box-shadow: 0 0 10px #ffff00;
  transition-duration: 0.5s;
}
#javascript-item:hover {
  box-shadow: 0 0 80px #ffff00;
  transform: scale(1.06);
}

#git-item {
  box-shadow: 0 0 10px #e73710;
  transition-duration: 0.5s;
}
#git-item:hover {
  box-shadow: 0 0 80px #e73710;
  transform: scale(1.06);
}

#github-item {
  box-shadow: 0 0 10px #FFF;
  transition-duration: 0.5s;
}
#github-item:hover {
  box-shadow: 0 0 80px #fff;
  transform: scale(1.06);
}

#canva-item {
  box-shadow: 0 0 10px #16fafa;
  transition-duration: 0.5s;
}
#canva-item:hover {
  box-shadow: 0 0 80px #16fafa;
  transform: scale(1.06);
}

#bootstrap-item {
  box-shadow: 0 0 10px #eb33ff;
  transition-duration: 0.5s;
}
#bootstrap-item:hover {
  box-shadow: 0 0 80px #eb33ff;
  transform: scale(1.06);
}

#figma-item {
  box-shadow: 0 0 10px #0acf83;
  transition-duration: 0.5s;
}
#figma-item:hover {
  box-shadow: 0 0 80px #0acf83;
  transform: scale(1.06);
}

.estrella1, .estrella2, .estrella3 {
  padding-top: 20px;
  color: #8c00ff;
  text-shadow: 4px 4px 4px 20px #8c00ff;
  height: 20px;
  width: 20px;
  filter: drop-shadow(0 0 4px #8c00ff);
}

/*============CURRICULUM=========================*/
.curriculum-container {
  display: grid;
  grid-template-areas: "tituloEducacion tituloExperiencia" "educacion1 trabajo1" "educacion2 trabajo2" "educacion3 none";
  grid-template-columns: 1fr 1fr;
}

.titulo-educacion {
  grid-area: tituloEducacion;
}

.educacion1 {
  grid-area: educacion1;
}

.educacion2 {
  grid-area: educacion2;
}

.educacion3 {
  grid-area: educacion3;
}

.titulo-experiencia {
  grid-area: tituloExperiencia;
}

.experiencia1 {
  grid-area: trabajo1;
}

.experiencia2 {
  grid-area: trabajo2;
}

.educacion1, .educacion2, .educacion3, .experiencia1, .experiencia2 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  align-items: center;
  margin: 40px;
  padding: 10px 10px;
  background-color: rgba(59, 18, 91, 0.2);
  border: solid #868587 1px;
  transition-duration: 0.2s;
}
.educacion1:hover, .educacion2:hover, .educacion3:hover, .experiencia1:hover, .experiencia2:hover {
  background-color: #2e0d5f;
  transform: scale(1.02);
}
.educacion1 h3, .educacion1 h4, .educacion1 h5, .educacion1 h6, .educacion2 h3, .educacion2 h4, .educacion2 h5, .educacion2 h6, .educacion3 h3, .educacion3 h4, .educacion3 h5, .educacion3 h6, .experiencia1 h3, .experiencia1 h4, .experiencia1 h5, .experiencia1 h6, .experiencia2 h3, .experiencia2 h4, .experiencia2 h5, .experiencia2 h6 {
  font-size: 17px;
  margin: 20px;
}
.educacion1 figure, .educacion2 figure, .educacion3 figure, .experiencia1 figure, .experiencia2 figure {
  width: 120px;
}
.educacion1 figure img, .educacion2 figure img, .educacion3 figure img, .experiencia1 figure img, .experiencia2 figure img {
  width: 100%;
}

.titulo-educacion, .titulo-experiencia {
  text-align: center;
  font-size: 20px;
  font-family: ELNATH;
}

/*============ Portafolio =========================*/
.portafolio-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.tituloProyecto-portafolio h2 {
  margin: 5px 0px 31px;
}

.portafolio-bonfilli, .portafolio-juntadaIntendencia, .portafolio-miPortafolio {
  height: 500px;
  padding: 36px;
  margin: 40px;
  background-color: rgba(59, 18, 91, 0.2);
  border: solid #5e5c5c 1px;
  transition-duration: 0.4s;
}
.portafolio-bonfilli:hover, .portafolio-juntadaIntendencia:hover, .portafolio-miPortafolio:hover {
  transform: scale(1.02);
  background-color: #2e0d5f;
}

.imagen-portafolio figure {
  width: 100%;
  margin: 0;
}
.imagen-portafolio figure img {
  width: 100%;
  transition-duration: 0.4s;
}
.imagen-portafolio figure img:hover {
  transform: scale(1.02);
}

.lenguajesUsados-portafolio ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}
.lenguajesUsados-portafolio li {
  margin: 20px;
  padding: 7px;
  font-style: none;
  background: #8E2DE2;
  background: linear-gradient(to right, #4A00E0, #8E2DE2);
  border: solid #5e5c5c 1px;
  border-radius: 20px;
}

.texto-portafolio {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
}

/*=============CONTACTO============================*/
.contacto-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

.contacto-item {
  box-shadow: 0 0 10px #8c00ff;
  border-radius: 20px;
  width: 500px;
}

.contacto-titulo-item {
  text-align: center;
  padding-top: 30px;
}
.contacto-titulo-item h3 {
  margin: 0;
  font-family: ELNATH;
}

.contacto-input-item {
  padding: 0px 40px 40px 40px;
}
.contacto-input-item section {
  padding: 20px;
}
.contacto-input-item section input, .contacto-input-item section textarea {
  width: 100%;
  height: 30px;
  border: none;
  background: transparent;
  color: #fff;
  border-bottom: solid #8c00ff;
}
.contacto-input-item section input:focus, .contacto-input-item section textarea:focus {
  outline: none;
  color: #fff;
}
.contacto-input-item section textarea {
  min-width: 300px;
  min-height: 100px;
  resize: none;
}
.contacto-input-item section .enviar {
  background: #8E2DE2;
  background: linear-gradient(to right, #4A00E0, #8E2DE2);
  border: none;
  border-radius: 20px;
  transition-duration: 0.3s;
  height: 40px;
}
.contacto-input-item section .enviar:hover {
  box-shadow: 0 0 10px #8c00ff;
  border-radius: 10px;
  cursor: pointer;
}
.contacto-input-item section .enviar:active {
  transform: scale(1.03);
}

/*==========FOOTER===============================*/
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #3b1a5f;
  background: linear-gradient(to right, #4c096e, #391361);
}

.titulo-footer {
  color: #d9d6dc;
  font-family: ELNATH;
  font-size: 16px;
}

.contacto-footer {
  display: flex;
  padding: 20px;
}

.icon-footer {
  margin: 0px 50px;
  height: 27px;
  width: 27px;
  color: #d9d6dc;
  transition-duration: 0.4s;
}
.icon-footer:hover {
  transform: scale(1.3);
}

/*===========RESPONSIVE======================*/
@media only screen and (max-width: 1077px) {
  .body-curriculum-container {
    margin: 10px;
  }
  .curriculum-container {
    grid-template-areas: "tituloEducacion" "educacion1" "educacion2" "educacion3" "tituloExperiencia" "trabajo1" "trabajo2";
    grid-template-columns: 1fr;
  }
  .titulo-experiencia {
    padding-top: 200px;
  }
  .titulo-educacion {
    padding-top: 100px;
  }
  .educacion1, .educacion2, .educacion3, .experiencia1, .experiencia2 {
    margin: 40px 10px;
  }
}
@media only screen and (max-width: 1059px) {
  .nav-links-items a {
    font-size: 15px;
    margin: 20px;
  }
}
@media only screen and (max-width: 1000px) {
  .body-index-container {
    grid-template-areas: "presentacion" "foto";
    grid-template-columns: 1fr;
  }
  .body-portafolio-container {
    margin: 10px;
  }
  .portafolio-container {
    grid-template-columns: 1fr;
  }
  .portafolio-bonfilli, .portafolio-juntadaIntendencia, .portafolio-miPortafolio {
    height: 100%;
  }
}
@media only screen and (max-width: 950px) {
  header .header-container {
    display: none;
  }
  .header-responsive {
    display: block;
    z-index: 2;
    height: 80px;
    background: linear-gradient(90deg, #0d0119, #080510 50%, #0a0119);
    width: 100%;
  }
  .navbar-responsive {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    padding: 0;
  }
  .navbar-responsive figure {
    width: 100px;
    margin: 0;
  }
  .navbar-responsive figure img {
    width: 100%;
  }
  nav .navbar-responsive {
    padding: 0;
  }
  .menu-hamburgesa {
    display: none;
  }
  .menu-hamburgesa:checked + .ul-links-responsive {
    height: calc(100vh - 80px);
  }
  .list-icon {
    color: #fff;
    height: 39px;
    width: 39px;
    cursor: pointer;
    padding-right: 20px;
  }
  .ul-links-responsive {
    width: 100%;
    background: linear-gradient(90deg, rgba(25, 3, 48, 0.8), rgba(0, 0, 0, 0.8) 50%, rgba(25, 3, 48, 0.8));
    z-index: 2;
    position: absolute;
    top: 50px;
    left: 0;
    height: 0vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 3rem;
    transition: all 0.3s;
    margin: 0;
    padding: 0;
  }
  .links-responsive {
    font-size: 20px;
    list-style-type: none;
  }
  .links-responsive a {
    text-decoration: none;
    color: #fff;
  }
  .links-responsive a:hover {
    color: #74638e;
  }
}
@media only screen and (max-width: 810px) {
  .body-habilidades-container {
    margin: 10px;
  }
  .titulo-habilidades h1 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 720px) {
  .habilidades-items {
    margin: 40px;
  }
}
@media only screen and (max-width: 590px) {
  .body-index-container {
    margin: 15px;
  }
  .titulo-habilidades h1 {
    font-size: 20px;
  }
  .educacion-texto h3, .educacion-texto h4, .educacion-texto h5, .educacion-texto h6, .experiencia-texto h3, .experiencia-texto h4, .experiencia-texto h5, .experiencia-texto h6 {
    font-size: 15px;
  }
  .titulo-quienSoy h1 {
    font-size: 32px;
  }
  .texto-quienSoy {
    font-size: 14px;
    padding-bottom: 20px;
  }
  .foto figure {
    width: 250px;
  }
}
@media only screen and (max-width: 500px) {
  .educacion-logo h3, .educacion-logo h4, .educacion-logo h5, .educacion-logo h6, .experiencia-logo h3, .experiencia-logo h4, .experiencia-logo h5, .experiencia-logo h6 {
    font-size: 12px;
  }
  .educacion-logo figure, .experiencia-logo figure {
    width: 90px;
    margin: 0;
  }
}
@media only screen and (max-width: 422px) {
  .titulo-quienSoy h1 {
    font-size: 28px;
  }
  .foto figure {
    width: 200px;
  }
  .proyectosCompletados h3, .ganasDeAprender h3, .anosExperiencia h3 {
    font-size: 13px;
  }
  .contacto-footer {
    padding: 2px;
  }
  .icon-footer {
    width: 23px;
    height: 23px;
  }
}
@media only screen and (max-width: 387px) {
  .titulo-quienSoy h1 {
    font-size: 24px;
  }
}/*# sourceMappingURL=style.css.map */