body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  background-color: #000000;
  font-family: "Kanit", sans-serif;
}

@font-face {
  font-family: ELNATH;
  src: url(../fonts/ELNATH.ttf);
}
b {
  color: #ffff00;
}

.header-container {
  background-color: #000;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo-container figure {
  width: 100px;
  margin: 0;
}
.nav-logo-container figure img {
  width: 100%;
}

.nav-links-items {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav-links-items a {
  margin: 30px;
  padding: 7px;
  color: #fff;
  text-decoration: none;
  transition-duration: 0.5s;
  border-radius: 10px;
}
.nav-links-items a:hover {
  background-color: #ffff00;
  color: #000;
  border-radius: 20px;
}

.nav-nombre h2 {
  color: #ffff00;
  margin: 10px;
  font-family: ELNATH;
  font-size: 19px;
}

.body-index-container {
  display: grid;
  grid-template-areas: "presentacion foto";
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  margin: 40px;
}

.presentacion-container {
  grid-area: presentacion;
}

.bienvenida h3 {
  margin: 0;
  font-family: ELNATH;
}

.titulo-quienSoy h1 {
  margin: 0;
  font-size: 40px;
  font-family: ELNATH;
}

.texto-quienSoy {
  text-align: justify;
  font-size: 17px;
}

.curriculum {
  margin-top: 40px;
}
.curriculum a {
  margin: 20px 20px 20px 0;
  text-decoration: none;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  transition-duration: 0.5s;
  border: solid #ffff00 1px;
}
.curriculum a:hover {
  background-color: #ffff00;
  color: #000;
  border-radius: 20px;
  animation-name: boton;
}

.foto-container {
  margin: 20px;
  grid-area: foto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foto {
  text-align: center;
}
.foto figure {
  width: 400px;
}
.foto figure img {
  width: 100%;
}

.datosDeMi {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 13px;
}

.anosExperiencia, .ganasDeAprender, .proyectosCompletados {
  padding: 0 10px;
  text-align: center;
}

/*=================Habilidades===============================*/
.body-habilidades-container, .body-curriculum-container {
  margin: 40px;
}

.titulo-habilidades h1, .titulo-curriculum h1 {
  font-family: ELNATH;
  font-size: 40px;
}

.habilidades-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.habilidades-items {
  margin: 70px;
  padding: 28px;
  border-radius: 40px;
  background-color: rgb(16, 15, 15);
}
.habilidades-items figure {
  margin: 0;
  text-align: center;
}

#javascript figure, #github figure, #bootstrap figure {
  text-align: center;
  margin: 0;
}
#javascript figure img, #github figure img, #bootstrap figure img {
  width: 64px;
}

#html-item {
  box-shadow: 0 0 10px #FF5733;
  transition-duration: 0.5s;
}
#html-item:hover {
  box-shadow: 0 0 80px #FF5733;
  transform: scale(1.06);
}

#css-item {
  box-shadow: 0 0 10px #164DFA;
  transition-duration: 0.5s;
}
#css-item:hover {
  box-shadow: 0 0 80px #164DFA;
  transform: scale(1.06);
}

#javascript-item {
  box-shadow: 0 0 10px #ffff00;
  transition-duration: 0.5s;
}
#javascript-item:hover {
  box-shadow: 0 0 80px #ffff00;
  transform: scale(1.06);
}

#git-item {
  box-shadow: 0 0 10px #e73710;
  transition-duration: 0.5s;
}
#git-item:hover {
  box-shadow: 0 0 80px #e73710;
  transform: scale(1.06);
}

#github-item {
  box-shadow: 0 0 10px #FFF;
  transition-duration: 0.5s;
}
#github-item:hover {
  box-shadow: 0 0 80px #fff;
  transform: scale(1.06);
}

#canva-item {
  box-shadow: 0 0 10px #16fafa;
  transition-duration: 0.5s;
}
#canva-item:hover {
  box-shadow: 0 0 80px #16fafa;
  transform: scale(1.06);
}

#bootstrap-item {
  box-shadow: 0 0 10px #eb33ff;
  transition-duration: 0.5s;
}
#bootstrap-item:hover {
  box-shadow: 0 0 80px #eb33ff;
  transform: scale(1.06);
}

#figma-item {
  box-shadow: 0 0 10px #0acf83;
  transition-duration: 0.5s;
}
#figma-item:hover {
  box-shadow: 0 0 80px #0acf83;
  transform: scale(1.06);
}

.estrella1, .estrella2, .estrella3 {
  padding-top: 20px;
  color: #ffff00;
  text-shadow: 4px 4px 4px 20px #ffff00;
  height: 20px;
  width: 20px;
  filter: drop-shadow(0 0 4px #ffff00);
}

/*============Curriculum=========================*/
.curriculum-container {
  display: grid;
  grid-template-areas: "tituloEducacion tituloExperiencia" "educacion1 trabajo1" "educacion2 trabajo2" "educacion3 none";
  grid-template-columns: 1fr 1fr;
}

.titulo-educacion {
  grid-area: tituloEducacion;
}

.educacion1 {
  grid-area: educacion1;
}

.educacion2 {
  grid-area: educacion2;
}

.educacion3 {
  grid-area: educacion3;
}

.titulo-experiencia {
  grid-area: tituloExperiencia;
}

.experiencia1 {
  grid-area: trabajo1;
}

.experiencia2 {
  grid-area: trabajo2;
}

.educacion1, .educacion2, .educacion3, .experiencia1, .experiencia2 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  align-items: center;
  margin: 40px;
  padding: 10px 10px;
  background-color: #181818;
  border-radius: 20px;
  box-shadow: 0 0 10px #aeadad;
  transition-duration: 0.2s;
}
.educacion1:hover, .educacion2:hover, .educacion3:hover, .experiencia1:hover, .experiencia2:hover {
  background-color: #2c2b2b;
  transform: scale(1.02);
}
.educacion1 h3, .educacion1 h4, .educacion1 h5, .educacion1 h6, .educacion2 h3, .educacion2 h4, .educacion2 h5, .educacion2 h6, .educacion3 h3, .educacion3 h4, .educacion3 h5, .educacion3 h6, .experiencia1 h3, .experiencia1 h4, .experiencia1 h5, .experiencia1 h6, .experiencia2 h3, .experiencia2 h4, .experiencia2 h5, .experiencia2 h6 {
  font-size: 17px;
  margin: 20px;
}
.educacion1 figure, .educacion2 figure, .educacion3 figure, .experiencia1 figure, .experiencia2 figure {
  width: 120px;
}
.educacion1 figure img, .educacion2 figure img, .educacion3 figure img, .experiencia1 figure img, .experiencia2 figure img {
  width: 100%;
}

.titulo-educacion, .titulo-experiencia {
  text-align: center;
  font-size: 20px;
  font-family: ELNATH;
}/*# sourceMappingURL=style.css.map */